.next-joke-button {
  display: flex;
  font-family: chuck;
  letter-spacing: 2px;
}

.next-joke-button > .btn {
  position: relative;
  outline: none;
  font-family: chuck;
  letter-spacing: 2px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e9be91;
  color: #e8e8e8;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 24px;
}

.next-joke-button > .btn::before {
  content: attr(data);
  display: grid;
  text-wrap: nowrap;
  padding: 8px 24px;
  font-family: chuck;
  border: 2px solid #e7e7e7;
  background-color: var(--color-background);
  font-size: 16px;
  color: #e8e8e8;
  border-radius: 2px;
  text-transform: uppercase;
  place-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  transition: all 0.2s ease;
}

.next-joke-button > .btn:active::before {
  top: -2px;
  left: -2px;
}

@media (hover: hover) and (pointer: fine) {
  .next-joke-button > .btn:hover::before {
    top: -2px;
    left: -2px;
  }
}
