.app-like-button {
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  gap: 0px 10px;
}
.app-like-button > p { 
  /* text-indent: 0; */
  align-self: center;
  justify-self: center;
  display: block;
  /* padding: 20px; */
}

