.app-header {
  padding-top: 30px;
  display: flex;
  width: 100%;
  position: relative;
  container-type: inline-size;
}

.app-header > h1 {
  font-size: 8.2cqw;
}

@media (min-width: 768px) { 
  .app-header {
    width: 80%;
  }
}