
html, body {
  height: 100%;
  width: 100%;
}

#root {
  position: relative;
  max-width: var(--app-max-width);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-family: chuck;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  /* overflow: auto; */
    
}

#app {
  
  height: 100%;
}

