#root {
  position: relative;
  max-width: var(--app-max-width);
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  font-weight: normal;
  font-family: chuck;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

#app {
  width: 100%;
  height: 100dvh;
}

.app-calling {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}