.app-container {
  background-image: url(../assets/images/chucknorris.png);
  padding: 25px;
  padding-bottom: 0;
  padding-top: 50px;
  /* padding-top: 40px; */
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: 105% bottom;
  background-size: 45%;
}